@{
    ViewBag.Title = "About";
    ViewBag.Message = "TopProgs - the fast, easy way to get a list of the top rating programmes on TV";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<p>Use this area to provide additional information.</p>*@
