@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "For further information about this product or any of our other products please contact:";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    JT Media Software Solutions Ltd<br />
    70 Silverdale Avenue<br />
    Westcliff-on-Sea<br />
    SS0 9BD, UK<br />
    <abbr title="Phone">P:</abbr>
    +44 7914 060218
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jeremy_taylor_software@hotmail.co.uk">jeremy_taylor_software@hotmail.co.uk</a><br />
    <strong>Marketing:</strong> <a href="mailto:jeremy_taylor_software@hotmail.co.uk">jeremy_taylor_software@hotmail.co.uk</a>
</address>