@model TopProgs.ViewModels.SelectedIDsAndItems

@{
    ViewBag.Title = "Channel List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <section id="channelForm">
        @using (Html.BeginForm())
        {
            <h2>&nbsp;&nbsp;@ViewBag.Title</h2>

            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-sm-4">
                @if (Model != null && Model.Items != null && Model.Items.Count() > 0)
                {
                    @Html.ListBoxFor(
                                        x => x.SelectedItemIds,
                                        new SelectList(Model.Items, "Value", "Text"),
                                        new { size = Model.Items.Count(), multiple = "multiple" }
                                    )
                }
            </div>

            <div class="col-sm-4">
                <p></p>
                <p>
                    <a class="btn btn-default" href="~/Channel/Previous">&laquo; Previous</a>
                    &nbsp;
                    <input type="submit" value="Next &raquo;" class="btn btn-default" />
                </p>
                <p>
                    <input type="reset" value="Reset" class="btn btn-default" />
                </p>
            </div>
        }
    </section>
</div>